Source: ffind
Section: utils
Priority: optional
Maintainer: Archit Anant <architanant5@gmail.com>
Build-Depends: debhelper-compat (= 13), pkg-config, liburing-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: ffind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liburing2
Description: Fast file finder using io_uring
 ffind is a fast alternative to find files, implemented using Linux io_uring.
 
